body {
  margin: 0;
  background-color: rgb(225, 214, 255);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.userli {
  margin-bottom: 20px;
  color: rgb(45, 2, 84);
}

input {
  background-color: rgb(143, 103, 159);
}

.btn button {
  background-color: rgb(143, 103, 159);
}

.btn h1 {
  color: rgb(79, 5, 158);
}
